/* CHANGE PASSWORD SECTION */
.change-password-section{
    padding: 130px 3%;
}

/* .change-password-section{
    padding: 150px 3%;
} */

.change-password-section .change-password-wrapper .change-password-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change-password-section .change-password-wrapper .change-password-title h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.change-password-section .change-password-wrapper .change-password-title .back-button button{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
}

.change-password-section .change-password-wrapper .change-password-title .back-button button i{
    font-size: 32px;
}

.change-password-section .change-password-wrapper .change-password-title .back-button button p{
    color: #000000;
    font-size: 20px;
}

.change-password-section .change-password-wrapper .change-password-input{
    border: 2px solid #ABABAB;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 30%;
}

.change-password-section .change-password-wrapper .change-password-input .current-password{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-password-section .change-password-wrapper .change-password-input .new-password{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.change-password-section .change-password-wrapper .change-password-input .confirm-password{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.change-password-section .change-password-wrapper .change-password-input h3{
    font-size: 20px;
}

.change-password-section .change-password-wrapper .change-password-input input{
    width: 500px;
    /* border-bottom: 2px solid #000000; */
    border: none;
    background-color: #f3f3f3;
    border-bottom: 1px solid #000000;
    padding: 10px 10px;
    font-size: 20px;
}

.change-password-section .change-password-wrapper .change-password-input span{
    color: red;
}

.change-password-button-wrapper{
    border: 2px solid #ABABAB;
    border-top: none;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.change-password-button-wrapper .save-button{
    padding: 15px 100px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background-color: #000000;
    cursor: pointer;
}


