.service-banner-section{
    padding: 30px 3%;
    background-color: #25caac;
}

.service-banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-banner-col1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-banner-col2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-banner-col3{
    display: flex;
    align-items: center;
    gap: 20px;
}

.col-icon{
    font-size: 72px;
    color: #ffffff;
}

.col-text h3{
    color: #ffffff;
    font-size: 24px;
}

.col-text p{
    color: #ffffff;
    font-size: 20px;
}
